@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Cristopher</h1>
    <h2>
        AWS BeanStalk Net Core 8 Mysql v3
    </h2>
    <p class="mt-3">
        <img src="~/images/Starbucks-Logo.png"
             alt="rayo"
             width="600"
             height="300" />
    </p>
</div>
